table {
  font-size: 20px;
  font-family: sans-serif;
  padding: 12px;
  border-spacing: 8px;
  border: 2px black solid;
  align-items: : center;
}

td {
  text-align: center;
  border: 0.2px black solid;
}

#mainTitle {
  text-align: center;
}

input#name {
  background: aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 300px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#colour {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 200px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#buy_price {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 100px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#sell_price {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 100px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#storage {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#brand {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#name_new {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

select#brand_new{
    background:aliceblue;
    border: .25px solid lightgrey;
    padding: 4px;
    width: 150px;
    height: 40px;
    text-align: left;
    padding-left: 8px;
    font-size: 22px;
    text-align: center;
}


input#storage_new {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#buy_price_new {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#sell_price_new {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

input#colour_new {
  background:aliceblue;
  border: .25px solid lightgrey;
  padding: 4px;
  width: 150px;
  height: 40px;
  text-align: left;
  padding-left: 8px;
  font-size: 22px;
  text-align: center;
}

div#form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  padding: 20px;
}

td.button {
  background: aliceblue;
}

li.menu-item {
  border: .5px solid lightgrey;
  margin: 20px;
  display: inline-block;
  width: 30%;
  text-align: center;
}

a.navlink {
  display: inline-block;
  font-size: 30px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}

a.buttonLink {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

nav {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid lightgray;
  border-width: 100%;
}

label {
padding: 6px;
width: 100px;
display: inline-block;
font-size: 20px;
margin: 4px;
margin-left: 16px;
}

div#form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  margin-top: 4px;
}

div.formElement {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  width: 33%;
  flex-wrap: wrap;
  flex-direction: column;
}

div.bottomElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

input#newPhone{
  justify-content: center;
  margin: 8px;
}
